<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Maia Samuel</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitter.com/maiasamuel_">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/maiasamuel">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="mountain"></div>
<div class="bio">
  <h3>BIO</h3>
  <p>Maia Samuel is an 18 year old Full Stack Web Developer. Currently residing in Denver, Colorado, she attended Galvanize for their Full Stack Web Development immersive course after graduating from Cherry Creek High School May of 2016.</p>
</div>
<div class="ocean"></div>
<div class="projects">
  <h3>PROJECTS</h3>
    <h4><a href="https://hipfoodtrucks.herokuapp.com/login">Group Project</a></h4>
      <p>HipFoodTrucks is an interactive web application allowing you to find your favorite food truck locations at the tip of your fingers. Throughout this project our group used Pivotal Tracker, wireframes, and feature branches. The technologies that we used include jQuery, Express, HTML, CSS3, JavaScript, Node.js, Heroku, and Passport.</p>
  <br>
    <h4><a href="https://maiasblog.herokuapp.com/">Personal Project</a><h4>
    <h5>*UNDER CONSTRUCTION*</h5>
      <p>This is a CRUD application that allows you to create, view, update, and delete posts and comments on my blog. Built using JavaScript, Express, Nunjucks, HTML5, and CSS3.</p>
</div>
<div class="jungle"></div>
