<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Maia Samuel</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitter.com/maiasamuel_">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/maiasamuel">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="mountain">
  <!-- <div>
    <span class="bio">
      <h3 style="text-align:center;">BIO<h3>
        <p style="text-align:center;">Maia Samuel is an 18 year old Full Stack Web Developer. Currently residing in Denver, Colorado, she attended Galvanize for their Full Stack Web Development immersive course after graduating from Cherry Creek High School May of 2016.</p>
    </span>
  </div> -->
</div>
<div class="bio">
  <h3>BIO</h3>
  <p>Maia Samuel is an 18 year old Full Stack Web Developer. Currently residing in Denver, Colorado, she attended Galvanize for their Full Stack Web Development immersive course after graduating from Cherry Creek High School May of 2016.</p>
</div>
<div class="ocean"></div>
