body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mountain {
  background-image: url("../images/mountains.jpeg") !important;
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ocean {
  background-image: url("../images/ocean.jpeg") !important;
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jungle {
  background-image: url("../images/jungle.jpeg") !important;
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bio {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;"
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  text-align: center;
}
